.resident{
    max-width: 320px;
    border-radius: 0.8em;
    background-color: var(--color-bakground);
    overflow: hidden;
}

.resident__header{
    position: relative;
}
.resident__status{
    background-color: var(--color-bakground);
    position: absolute;
    top: 10%;
    width: 40%;
    padding: 0.3em 0 0.5em 0.5em;
    border-radius: 0 0.5em 0.5em 0;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.resident__circle{
    width: 15px;
    aspect-ratio: 1;
    background-color: var( --color-second);
    border-radius: 50%;
}

.Alive {
    background-color: var(--color-alive);
}

.Dead {
    background-color: var(--color-dead);
}
.resident__box{
    padding: 1.5em 1.2em 2em;
}

.resident__name{
    text-align: center;
    margin-bottom: 0.5rem;
}

.resident__hr{
    opacity: 0.2;
}

.resident__list{
    display: grid;
    gap: 0.6rem;
}
.list__item{
    display: flex;
    flex-direction: column;
}
.resident__label{
    padding-left: 1rem;
    color: var(--color-second);
    font-size: 0.9em;
    font-weight: 300;
}