.resident{
    max-width: 320px;
    border-radius: 0.8em;
    background-color: var(--color-bakground);
    overflow: hidden;
}

.resident__header{
    position: relative;
}
.resident__status{
    background-color: var(--color-bakground);
    position: absolute;
    top: 10%;
    width: 33%;
    padding: 0.3em 0 0.3em 0.5em;
    border-radius: 0 0.5em 0.5em 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.resident__circle{
    width: 15px;
    aspect-ratio: 1;
    background-color: brown;
    border-radius: 50%;
}

