@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');


:root{
    --font: 'Cabin', sans-serif;
    --color-bakground: #05292E;
    --color-second: #7E7E7E;
    --color-title: #FBFBFB;
    --color-third: #B6D647;
    --color-dead: #DB0708;
    --color-alive:#04A105;
}


*{
    box-sizing: border-box;
    font-family: var(--font);
}

body{
    margin: 0;
}

h1, h2, h3, h4, p, ul{
    margin-top: 0;
    margin-bottom: 0;
}
ul{
    list-style: none;
    padding: 0;
}

input{
    outline: 0;
    font-family: inherit;
    border: 0;
}

button{
    border: none;
    font-family: inherit;
}
img{
    display: block;
    width: 100%;
}
